* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}
header {
    position: relative;
    background-color: #212121;
}
header nav {
    padding: 13px 70px;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}
.menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.subheader {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.logo {
    max-width: 100%;
    margin-top: 16px;
    width: 285px;
}
.logo_subtext {
    margin-bottom: 19px;    
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.headercall {
    margin-top: 23px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-transform: none;  
    line-height: 12px;
    text-align: right;

}
.headerphone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 17px;
    text-align: right;
}
.btn{
    display: block;
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%); 
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    max-height: 800px;
    background: url(../img/bg.jpg) center center/cover no-repeat;
    padding: 67px 0 135px 0;
}
.promo_header {
    margin-top: 86px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    line-height: 47px;
}
.promo_subheader {
    margin-top: 23px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;

}
.promo_text {
    max-width: 955px;
    margin: 23px auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}
.promo_btn {
    display: block;
    margin: 118px auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.advantages {
    padding: 71px 0 68px 0;
}
.section_cat {
    width: 112px;
    height: 24px;
    margin: 0 auto;
    padding: 8px 12px 6px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 10px;
    text-align: center;
}
.advantages_header {
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.avv {
    min-height: 632px;
}
.advantages_item {
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.item_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    border-radius: 100%;
    margin-right: 26px;
    background-color: #1eacc7;
}
.item_text {
    width: 340px;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    
}
.item_text span {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.mobileapp {
    padding: 48px 0 80px 0;
}
.mobileapp_header {
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}
.mobileapp_text {
    margin-top: 18px;
    color: #222222;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    line-height: 16px;
}
.mobileapp_card {
    display: flex;
    justify-content: center;
    min-width: 320px;
    margin-top: 20px;
}
.card_header {
    position: absolute;
    margin-top: 92px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.card_arrow {
    display: block;
    position: absolute;
    margin-top: 219px;
}